 <footer th:fragment="footer" class="bg-dark text-white text-center py-1 fixed-bottom">
        <div class="container">
            <div class="text-center">
                <span class="footer-text">
                    &copy; Company <span th:text="${#dates.year(#dates.createNow())}">2026</span>
                    <span class="footer-divider">|</span>
                    All rights reserved
                    <span class="footer-divider">|</span>
                    <a href="#" class="text-decoration-none footer-text">Privacy Policy</a>
                </span>
            </div>
        </div>
    </footer>